<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}">
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock css %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block js %}{% endblock js %}
    </body>
</html>
