{% extends 'MsiMainBundle::layout.html.twig' %}

{% block content %}
<h2>{{ team.name }}</h2>
{% for user in team.users %}
    <h3><a href="#"><img class="thumbnail inline" src="{{ user.avatar }}" alt="0"> {{ user.nickname }}</a></h3>
    {% if team.users|length != loop.index %}<hr>{% endif %}
{% endfor %}
{% endblock content %}
